<div class="kds-tab-content" data-tab="grafik-analizi">
    <div id="bolge-tickbar">
        <div class="bolge-karsilastirma-controls">
            <div class="bolge-tickbar">
                <!-- Bölge seçimleri buraya dinamik olarak eklenecek -->
            </div>
            <button id="karsilastir-btn" class="btn">
                <i class="fas fa-chart-bar"></i>
                Karşılaştır
            </button>
        </div>
    </div>
    <div id="karsilastirma-sonuclari">
        <div id="bolge-grafikleri"></div>
        <div id="bolge-detaylari"></div>
    </div>
</div> 